* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: url("images/background.jpg") white;
    background-size: 800px;
    color: white;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 5px; 
    background-color: grey;
    padding: 20px;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }
  .resultlist {
      width: 100%;
      border-radius: 10px;
      border: 5px solid green;
  }
  .ingredientdisplay {
      width: 100%;
  }
  .recipedisplay {
      width: 100%;
  }
  .resultbuttons {
      border-bottom: 2px solid grey;
      cursor: pointer;
      width: 100%;
      padding: 20px;
  }
  .checks {
      width: 100%;
      height: 20px;
      background-color: white;
      border-radius: 10px;
      color: gray;
      cursor: pointer;
      padding: 20px;
  }
  .steps {
      width: 100%;
      background-color: white;
      border-radius: 10px;
      color: gray;
      padding: 20px;
  }
  .selected {
    background-color: white;
    border: 5px solid greenyellow;
    color: gray;
}
  #substitute {
      border: 2px solid grey;
      background-color: lightgreen;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      width: 100%;
  }